@media screen and (max-width:700px) {
    body {
        .wandermunch {
            background-image: url('../../../images/bg23mobilecopy.png');
            .wm {
                font-size: 350%;
                height: 1.25em;
                margin: auto;
                left: 0%;
                width:90%;
            }
            .description {
                padding-top: 3px;
                height: 15%;
                width: 80%;
                margin:auto;
                position: relative;
                font-size: 80%;
                padding-left: 0;
                display: block;
                // text-shadow: 1px 1px 1px black;
                .built-with {
                    margin-top: -1em;
                }
            }
            .container {
                height: 200px;
                width: 90%;
                left:0px;
                max-width:450px;
                margin:auto;
                position:relative;
            }
            .container div {
                position: relative;
                top: 0;

            }
            button{
                margin:210px 10px;
            }
            .go-to-div {
                margin-top: 30px;
                left:0;
            }
            .go-to {
                margin: auto;
                text-align: center;
                font-size: 100%;
                padding: 2px;
                display: block;
                margin-bottom: 20px;
                min-width: 140px;
                visibility: visible;
            }
            .slide-up-div {
                position: relative;
                top: 0;
                left: 0;
                margin: 10px 0;
                width: 100%;
                font-size: 200%;
                .slide-up-intro {
                    color: orange;
                    margin: 0;
                }
            }
            .slide-down-div {
                position: relative;
                top: 3%;
                left: 0;
                width: 100%;
                .slide-down {
                    color: orange;

                }
            }
        }
    }
}
