
@media screen and (max-width:700px) {

  body {

    .intro-div {
          background-image: url("../../../images/bg1mobilecopy.png");
          font-size:200%;

          .skills {
              font-size: 70%;
              top:25%;
          }
          .my-img{
            width:80%;
            margin:auto;
            z-index: 0;
            visibility: hidden;
            top:15%;
          }
          .skills0-img,
          .skills1-img,
          .skills2-img,
          .skills3-img,
          .skills4-img,
          .skills5-img,
          .skills6-img,
          .skills7-img,
          .skills8-img {
              visibility: visible;
          }
          .enter-btn {
              font-size: 80%;
              // margin-top:20%;
              z-index:1;
              text-shadow: 1px 1px 1px black;
              margin-top:10%;
              color:#EBCEAC;
          }
    }
  }
}
